# Day 2 Assignment

# list

In [1]:
lst = ["mak", 12, 23.5, 7011, [1,2,3]]

In [2]:
lst

['mak', 12, 23.5, 7011, [1, 2, 3]]

In [ ]:
#list default function

In [3]:
lst.append("sab") #1

In [4]:
lst

['mak', 12, 23.5, 7011, [1, 2, 3], 'sab']

In [5]:
lst.count(12) #2

1

In [6]:
lst.extend("sab") #3

In [7]:
lst

['mak', 12, 23.5, 7011, [1, 2, 3], 'sab', 's', 'a', 'b']

In [8]:
lst.remove(7011) #4

In [9]:
lst

['mak', 12, 23.5, [1, 2, 3], 'sab', 's', 'a', 'b']

In [10]:
lst.insert(0,26) #5

In [11]:
lst

[26, 'mak', 12, 23.5, [1, 2, 3], 'sab', 's', 'a', 'b']

# dict

In [12]:
dit = {"Name": "mak","Age":20,"Number":9098765,"Address": "marapaliiy house"}

In [13]:
dit

{'Name': 'mak', 'Age': 20, 'Number': 9098765, 'Address': 'marapaliiy house'}

In [ ]:
# dict default functions

In [33]:
dit.get("Name") #1

'mak'

In [35]:
dit.items() #2

dict_items([('Name', 'mak'), ('Age', 20), ('Number', 9098765), ('Address', 'marapaliiy house')])

In [36]:
dit.keys() #3

dict_keys(['Name', 'Age', 'Number', 'Address'])

In [37]:
dit.pop("Age") #4

20

In [39]:
dit.values() #5

dict_values(['mak', 9098765, 'marapaliiy house'])

# sets

In [40]:
st={'mak',20,1,2,3,9,10.5}

In [41]:
st

{1, 10.5, 2, 20, 3, 9, 'mak'}

In [ ]:
#sets default functions

In [42]:
st.add("rambo") #1

In [43]:
st

{1, 10.5, 2, 20, 3, 9, 'mak', 'rambo'}

In [45]:
st.clear() #2

In [46]:
st

set()

In [48]:
st.update("mak",'3','2','6','9') #3

In [49]:
st

{'2', '3', '6', '9', 'a', 'k', 'm'}

In [51]:
st.union('u') #4

{'2', '3', '6', '9', 'a', 'k', 'm', 'u'}

In [54]:
st.intersection('2') #5

{'2'}

# Tuple

In [56]:
tup = ("suga",25,"$","no")

In [57]:
tup

('suga', 25, '$', 'no')

In [ ]:
# tuple default methods

In [58]:
tup.count(25) #1

1

In [59]:
tup.index('no') #2

3

# String

In [60]:
str = ('name','sabu','google','hi',)

In [61]:
str

('name', 'sabu', 'google', 'hi')

In [ ]:
# String default methods

In [62]:
str.count('hi') #1

1

In [63]:
str.index('google') #2

2